.LiveChat {
  margin: 120px;
  width: 500px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 10px;
  right: 0;
  z-index: 9999;
}

.top {
  margin: 0;
  margin-bottom: 12px;
}

.bot {
  margin: 0;
}
.LiveChat img {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.203);
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  flex: 1;
}

.title p {
  text-align: center;
  margin: 0;
}
.title p:first-child {
  font-weight: bold;
  font-size: 20px;
  font-style: none;
}
.title p:nth-child(2) {
  font-style: italic;
  display: block;
  background-color: rgba(0, 0, 0, 0.14);
  padding: 5px 10px;
}

.messgae_div {
  flex: 10;
  font-style: italic;
  border-radius: 12px;
}
.messgae_div p {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

.messgae_KH {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  float: right;
  margin-right: 150px;
}
.messgae_KH p {
  background-color: rgb(0, 42, 255);
  color: white;
}
.messgae_adim {
  margin-left: 12px;
  width: 60%;
  display: flex;
}
.messgae_adim p {
  margin-left: 24px;
  background-color: rgba(0, 0, 0, 0.068);
  color: rgba(0, 0, 0, 0.553);
}

.tool {
  flex: 2;
  background-color: rgba(0, 0, 0, 0.082);
  display: flex;
  gap: 20px;
  align-items: center;
}
.tool img {
  margin-left: 24px;
}
.file {
  width: 12px;
  height: 12px;
}

.plane {
  color: rgb(56, 110, 236);
}
