.navbar {
  padding: 0 10%;
  margin-top: 12px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
}
.navbar h1 {
  font-weight: 200;
}
.navbar_1 {
  display: flex;
  gap: 20px;
}
.navbar_2 {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.button {
  background-color: transparent;
  border: none;
  font-style: italic;
}
.button:hover,
.button.active {
  color: rgb(255, 179, 0);
}
